body{
    margin: 0;
    background-image: url(./Images/Food2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav h2 {
    color: white;
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
}

nav a:hover {
    color: orange;
}
nav{
    background-color: rgb(51, 21, 10);
    border-bottom: solid;
    border-color: black;
    color: black;
}
.heading{
    color: white;
    font-size: 20px;
}
.sub{
    color: white;
      font-size: 20px;
}
button{
    padding: 10px 25px;
    font-size: 18px;
    color: black;
    background-color: orange;
    border-radius: 15px;
}
a{
    color: black;
    text-decoration: none;
}